@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Josefin+Slab&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Josefin Slab', serif;
    color: rgba(34, 34, 34, 0.336);
}



html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.main-nav li {
    display: inline;
    color:rgb(0, 0, 0);
    text-align: center;
}

.main-header {
    background-color: rgba(0, 49, 156, 0.288);
    background-image: url("Images/header_background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: .09px;
}

.header-font {
    color:rgb(0, 0, 0);
    text-align: center;
    font-family: 'Euphoria Script', cursive;
    font-size: 90px;
}